# Node
node_modules/

# React/CRA
client/build/
client/node_modules/
client/.cache/

# Express/Backend
server/node_modules/
server/dist/
server/.cache/

# Archivos temporales
*.log
*.tmp
*.swp
.DS_Store

# Entornos
.env
.env.*

# Archivos de base de datos y subidas
server/uploads/

# Otros
.idea/
.vscode/
coverage/ 